<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <space48_apisecurity>
            <ip_authentication>
                <enabled>0</enabled>
                <whitelisted_ips/>
            </ip_authentication>
        </space48_apisecurity>
    </default>
</config>
